{% extends "critic/base.html" %}
{% load static %}

{% block title %} All Reviews {% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'critic/all-reviews.css' %}">
{% endblock style %}

{% block content %}

<h3 class="headshot">Reviews</h3>

<div class="separator">OF ALL TIMES</div>

<table>
    <tr>
        <th>Title | Year</th>
        <th>Critic</th>
        <th>Rate</th>
        <th>Review</th>
    </tr>


{% if all_review_list %}
    {% for review in all_review_list %}
        <tr>
            <td><a href="{% url 'critic:review' review.id %}">{{ review.movie.title }}</a> ({{review.movie.year}})</td>

            <td><a href="{% url 'critic:author' review.author.id %}">{{ review.author }}</a></td>

            <td><a href="{% url 'critic:review' review.id %}">{{ review.movie_rating }} {% 2+ 100 %}</a></td>

            <td>{{ review.review_text|truncatewords:30 }} 
            <br><a href="{% url 'critic:review' review.id %}">Read More</a> | Posted {{review.pub_date}}</td>

        </tr>
    {% endfor %}
{% else %}
    <h3> no 'all_review_list' found! </h3>
{% endif %}

</table>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% endblock content %}
