{% extends "critic/base.html" %}
{% load static %}

{% block title %} Critics {% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'critic/reviews.css' %}">
{% endblock style %}

{% block content %}

<h3 class="headshot">All Critics</h3>

{% if all_authors_list %}
    <ul>
    {% for author in all_authors_list %}
        <li>
            <a href="{% url 'critic:author' author.id %}">{{ author.name }}</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No authors.</p>
{% endif %}

{% endblock content %}
