{% extends "critic/base.html" %}
{% load static %}

{% block title %} {{author.name}} {% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'critic/style.css' %}">
{% endblock style %}
    
{% block content %}
<h2>{{ author.name }}</h2>


<div class="separator">MOVIE REVIEWS</div>

<table>
    <tr>
        <th>Title | Year</th>
        <th>Review</th>
        <th>Points</th>
    </tr>


{% if author_review_list %}
    {% for review in author_review_list %}
        <tr>
            <td><a href="{% url 'critic:review' review.id %}">{{ review.movie.title }}</a> ({{review.movie.year}})</td>
            <td>{{ review.review_text|truncatewords:30 }} 
            <br><a href="{% url 'critic:review' review.id %}">Read More</a> | Posted {{review.pub_date}}</td>
            <td><a href="{% url 'critic:review' review.id %}">{{ review.title }}</a></td>
        </tr>
    {% endfor %}
{% else %}
    <h3> no 'author_review_list' found! </h3>
{% endif %}

</table>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% endblock content %}
