{% extends "critic/base.html" %}
{% load static %}
{% load critic_extras %}

{% block title %} {{author.name}} {% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'critic/reviews.css' %}">
{% endblock style %}
    
{% block content %}
<h3 class="headshot">
    <div class="eighty">
        {{ author.name }}
    </div>
    <div class="custom-select">
      <select>
        <option value="1">Of All Time</option>
        <option value="2">Latest</option>
        <option value="3">Oldest</option>
      </select>
    </div>

</h3>

<table>
    <tr>
        <th>Title | Year</th>
        <th>Stars</th>
        <th>Quote</th>
    </tr>

    {% if author_review_list %}
        {% for review in author_review_list %}
            <tr>
                <!-- 
                <td>
                    {% for i in review.stars|times %}
                        ★
                    {% endfor %}


                    {% for i in "x"|rjust:review.stars %}
                        *
                    {% endfor %}

                    
                    {% with ''|center:review.stars as range %}
                        {% for _ in range %}
                            ★
                        {% endfor %}
                    {% endwith %}

                    
                    {% for i in "1234"|make_list %}
                        *
                    {% endfor %}

                </td>
                 -->
                <td><a href="{% url 'critic:review' review.id %}">{{ review.movie.title }}</a> ({{review.movie.year}})</td>

                <td> {% for item in review.stars|times %}★{% endfor %} </td>

                <td>{{ review.review_text|truncatewords:30 }} 
                <br><a href="{% url 'critic:review' review.id %}">Read More</a> | Posted {{review.pub_date}}</td>
            </tr>
        {% endfor %}
    {% else %}
        <h3> no 'author_review_list' found! </h3>
    {% endif %}

</table>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% endblock content %}
