{% extends "critic/base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'critic/index.css' %}">
{% endblock style %}


{% block content %}

{% if latest_review_list %}
    <h3 class="headshot">
        <div class="eighty">
            Reviews
        </div>
        <div class="custom-select">
          <select>
            <option value="1">Of All Time</option>
            <option value="2">Latest</option>
            <option value="3">Oldest</option>
          </select>
        </div>
    </h3>
    <ul>
    {% for review in latest_review_list %}
        <li>
            <!-- <a href="/critic/{{ review.id }}/review/">{{ review.title }}</a> -->
            On <a href="{% url 'critic:review' review.id %}">{{ review.movie }}</a> ({{ review.movie.year }}), by <a href="{% url 'critic:author' review.author.id %}">{{ review.author }}</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No reviews.</p>
{% endif %}




{% for movie in latest_movie_list %}
    <div class="cover-images">
        {% if movie.cover_image %}

            <img class="cover" src="{{ movie.cover_image.url }}" />
            <span class="caption">{{ movie.title }}</span>

        {% else %}
            <img class="no-cover" src="{% static 'critic/img/no-cover.png' %}" />
            <span class="caption">{{ movie.title }}</span>
        {% endif %}
    </div>
{% empty %}
    <p>No movies.</p>
{% endfor %}

<div class="clearleft"></div>




{% if latest_movie_list %}
    <ul>
    <h3 class="headshot">
        <div class="eighty">
            Movies
        </div>
        <div class="custom-select">
          <select>
            <option value="1">Of All Time</option>
            <option value="2" selected="selected">Latest</option>
            <option value="3">Oldest</option>
          </select>
        </div>
    </h3>

    {% for movie in latest_movie_list %}
        
        <li>
            %{% widthratio movie.average_rating 1 20 %} <a href="#">{{ movie.title }} ({{ movie.year }})</a> 
        </li>

    {% endfor %}
    </ul>
{% else %}
    <p>No movies.</p>
{% endif %}





{% endblock content %}
