{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'critic/style.css' %}">

<h1>Hi Critics!</h1>



{% if latest_movie_list %}
    <ul>
    <h4>Movies:</h4>
    {% for movie in latest_movie_list %}
        <li>
            {{ movie.title }}
            <h2>{{ movie.genre }}<h2>

        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No movies.</p>
{% endif %}



{% if latest_review_list %}
    <ul>
    <h4>Reviews:</h4>
    {% for review in latest_review_list %}
        <li>
            <a href="{% url 'critic:review' review.id %}"> {{ review.title }}</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No reviews.</p>
{% endif %}



{% if latest_question_list %}
    <ul>
    <h4>Questions:</h4>
    {% for question in latest_question_list %}
        <li><a href="{% url 'critic:detail' question.id %}"> {{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
    <li>
        <a href="/critic/{{ question.id }}/">{{ question.question_text }}</a>
    </li>
{% endif %}