{% extends "critic/base.html" %}
{% load static %}

{% block title %} Movies {% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'critic/reviews.css' %}">
{% endblock style %}

{% block content %}

<h3 class="headshot">
    <div class="eighty">
        Movies
    </div>
    <div class="custom-select">
      <select>
        <option value="1">Of All Time</option>
        <option value="2">Latest</option>
        <option value="3">Oldest</option>
        <option value="4">Greatest</option>
      </select>
    </div>
</h3>

<table>
    <tr>
        <th>Rank</th>
        <th>Title | Year</th>
        <th>Director</th>
        <th>Rate It!</th>
    </tr>


{% for movie in all_movies_list %}
    <tr>
        <td>{{ forloop.counter }}</td>

        <td><a href="{% url 'critic:movie_detail' movie.id %}">{{ movie.title }}</a> ({{movie.year}})</td>

        <td><a href="{% url 'critic:movie_detail' movie.id %}">{{ movie.director }}</a>

        <td><a href="#">
            <div class="stars">
                <div class="rating">
                    <span
                     onclick="rate({{ movie.id }}, 5)">☆</span><span
                     onclick="rate({{ movie.id }}, 4)">☆</span><span
                     onclick="rate({{ movie.id }}, 3)">☆</span><span
                     onclick="rate({{ movie.id }}, 2)">☆</span><span
                     onclick="rate({{ movie.id }}, 1)">☆</span>
                </div>
            </div></a>
        </td>
    </tr>
{% empty %}
    <h3> no 'all_movie_list' found! </h3>
{% endfor %}

</table>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}




<script>
    /*
    fetch('/movie/{}/rate/{}', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(opts)
     })
    .then(function (response) {  
        console.log('Request success: ', response);
        return response.json();
    })  
    .catch(function (error) {  
        console.log('Request failure: ', error);  
    });
    */

    function rate(movie_id, num_stars) {
        fetch('/critic/movies/' + movie_id + '/rate/' + num_stars + '/', {
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: ''
         })
        .then(function (response) {
            console.log('Request success: ', response);
            return response.json();
        })
        .then(function (data) {
            console.log('Result: ', data);
        })
        .catch(function (error) {
            console.log('Request failure: ', error);  
        });
    }

</script>


{% endblock content %}
