{% extends "critic/base.html" %}
{% load static %}


{% block title %}Review: {{ review.title }}{% endblock title %}


{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'critic/review.css' %}">
{% endblock style %}

{% block content %}
    <section>

        <!-- <leftie> -->
            <aside id="leftie">
                <h4>Directed by</h4>
                <ul>
                    <li> <a>{{ review.movie.director }}</a> </li>
                </ul>

                <h4>Produced by</h4>
                <ul>
                    <li> <a>{{ review.movie.producer }}</a> </li>
                </ul>

                <h4>Screenplay by</h4>
                <ul>
                    <li> <a>{{ review.movie.screen_writer }}</a> </li>
                </ul>

                <div class="details">
                    <p>
                    {% for genre in review.movie.genres.all %}
                        {{ genre }},
                    {% endfor %}
                    </p>
                    <p>Rated R</p>
                    <p>{{ review.movie.length }}</p>
                </div>
            </aside>
        <!-- </leftie> -->


        <!-- <middlie> -->
            <article id="middlie">
                <h2>{{ review.title }}</h2>

                <span>{{ review.author }}</span> <br>
                <span>{{ review.pub_date }}</span>

                <p>{{ review.review_text|linebreaks }}</p>
            </article>
        <!-- </middlie> -->

    </section>

    <footer>
        <p>Contact Us</p>
        <p> Copyright 2019,<br>
            Ebert Digital LLC<br>
            About the Site
        </p>
    </footer>









    

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}



</body>
{% endblock content %}
