{% extends "critic/base.html" %}
{% load static %}
{% load critic_extras %}


{% block title %} All Reviews {% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'critic/reviews.css' %}">
{% endblock style %}

{% block content %}

<h3 class="headshot">
    <div class="eighty">
        Reviews
    </div>
    <div class="custom-select">
      <select>
        <option value="1">Of All Time</option>
        <option value="2">Latest</option>
        <option value="3">Oldest</option>
      </select>
    </div>
</h3>


<script>
    fetch('/movie/{}/rate/{}', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(opts)
     })
    .then(function (response) {  
        console.log('Request success: ', response);
        return response.json();
    })  
    .catch(function (error) {  
        console.log('Request failure: ', error);  
    });


</script>



<table>
    <tr>
        <th>Title | Year</th>
        <th>Critic</th>
        <th>Stars</th>
        <th>Quote</th>
    </tr>


    {% if all_reviews_list %}
        {% for review in all_reviews_list %}
            <tr>
                <td><a href="{% url 'critic:review' review.id %}">{{ review.movie.title }}</a> ({{review.movie.year}})</td>

                <td><a href="{% url 'critic:author' review.author.id %}">{{ review.author }}</a></td>

                <td>
                    <div class="stars">
                        <div>
                            <span>{% for star in review.stars|times %}★{% endfor %}</span>
                        </div>
                    </div>
                </td>

                <td>{{ review.review_text|truncatewords:30 }} 
                <br><a href="{% url 'critic:review' review.id %}">Read More</a> | Posted {{review.pub_date}}</td>

            </tr>
        {% endfor %}
    {% else %}
        <h3> no 'all_reviews_list' found! </h3>
    {% endif %}
    
</table>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% endblock content %}
