{% extends "critic/base.html" %}
{% load static %}


{% block title %}{{ review.movie.title }} Reviewed by {{review.author}} {% endblock title %}


{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'critic/review.css' %}">
{% endblock style %}

{% block content %}
    <section>

        <!-- <leftie> -->
            <aside id="leftie">
                {% if review.movie.cover_image %}
                    <img id="cover" src="{{ review.movie.cover_image.url }}" />
                {% else %}
                    <img id="no-cover" src="{% static 'critic/img/no-cover.png' %}" />
                {% endif %}

                <h4>Directed by</h4>
                <ul>
                    <li> <a>{{ review.movie.director }}</a> </li>
                </ul>

                <h4>Produced by</h4>
                <ul>
                    <li> <a>{{ review.movie.producer }}</a> </li>
                </ul>

                <h4>Screenplay by</h4>
                <ul>
                    <li> <a>{{ review.movie.screen_writer }}</a> </li>
                </ul>

                <div class="details">
                    <p>
                    {% for genre in review.movie.genres.all %}
                        {{ genre }},
                    {% endfor %}
                    </p>
                    <p>Rated R</p>
                    <p>{{ review.movie.length }}</p>
                </div>
            </aside>
        <!-- </leftie> -->


        <!-- <middlie> -->
            <article id="middlie">
                <h2>{{ review.title }}</h2>

                <span>{{ review.author }}</span> <br>
                <span>{{ review.pub_date }}</span>

                <p>{{ review.review_text|linebreaks }}</p>
            </article>
        <!-- </middlie> -->

    </section>

    <div class="clearboth"></div>


{% endblock content %}
