
section {
  min-height: 400px;
}

article h2 {
  background-color: #205b6e;
  color: #fff;
  padding: 12px;
}

article {
  font-size: small;
}

article p {
  font-size: large;
}

footer {
  clear: both;
  margin: 1px -30px;
  min-height: 120px;
  padding: 17px 50px;
  font-size: x-small;
  font-weight: bold;
  background: #3b4040;
  color: #fff;
}

/*
#poster {
  height: 385px;
  /*height: 100%;*/
  /*width: 100px;*/
/*
  background-image: url(img/poster.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
#voight {
    /*width: 100%;*/
    /*float: right;*//*
    width: 60%;
  height: auto;
  margin-left: 270px;

  padding-right: 20px;
  float: right;
}
*/

leftie {
  float: left;
  width: 25%;
  margin-top: 16px;
  margin-right: 20px;
}

/*rightie */
.sidebar {
  width: 25%;
  margin-top: 16px;
}

.details {
  background-color: #ccc;
  padding: 10px
}

middlie {
  float: left;
  width: 45%;
}