
section {
  min-height: 400px;
}

article h2 {
  background-color: #205b6e;
  color: #fff;
  padding: 12px;
}

article {
  font-size: small;
}

article p {
  font-size: large;
}

footer {
  clear: both;
  margin: 1px -30px;
  min-height: 120px;
  padding: 17px 50px;
  font-size: x-small;
  font-weight: bold;
  background: #3b4040;
  color: #fff;
}

.details {
  background-color: #ccc;
  padding: 10px
}

#leftie {
  /*border: 2px dashed blue;*/
  float: left;
  margin-top: 16px;
  margin-right: 20px;
}

#middlie {
  /*border: 2px dashed green;*/
  float: left;
  width: 45%;
}


/************** MEDIA *************/
@media screen 
  and (max-width: 1200px) {
    #sidebar{
      display: none;
    }

    #middlie {
      width: calc(100% - 270px);
  }
}

@media screen and (max-width: 780px) {
  /* tablet */ 
  #middlie{
    clear: both;
    width: 100%;
  }
}



